/* Enter your custom styles here */
.formCSS {
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 8px;
}

.button {
    background-color: #BE2321;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 5px 0 5px 0;
}

.footerToolbar {
    display: flex;
    justify-content: center;
}

.sapMLnk:visited {
    color: #BE2321;
}

.sapMBtn {
    color: aliceblue;
}