/* Enter your custom styles here */
.sapUiBody {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
}

.button {
    background-color: #BE2321;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 5px 0 5px 0;
}

.footerToolbar {
    display: flex;
    justify-content: center;
}

/* predefined sap css classes  */
.sapMLnk:visited {
    color: #BE2321;
}

.sapMIBar .sapMBtn .sapMBtnInner.sapMBtnDefault,
.sapMIBar .sapMBtn .sapMBtnInner.sapMBtnDefault .sapUiIcon {
    color: #BE2321;
    background-color: transparent;
}


